@use "./abstracts/colors";

body{
    min-height: 100vh;
    padding: 4rem;
    background: linear-gradient(#6C4A4A, 60%, #C89595);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-style:italic;
    flex-direction: column;
    gap: 4rem;
}